.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 400px;
  height: 300px;
  background: rgb(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container img {
  width: 185px;
  height: 185px;
  
}

.addPhotoBtn {
  border-radius: 8px;
  margin-top: 20px;
  padding: 6px;
  background-color: gainsboro;
  color: black;
}

.deleteBtn {
  background-color: red;
}

input[type="file"]::file-selector-button {
  color: black;
  height: 35px;
  border: 1.5px solid #dfe6e8;
  border-radius: 5px;
  box-shadow: none;
  font-weight: 600;
  font-size: 18px;
  background-color: #37a8c7b3;
  cursor: pointer;
  width: 60%;
}

/* .addPhotoInput {
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: blue;
} */