body {
  min-height: calc(100vh - 80px);
}

.container {
  margin-top: 100px;
  margin: 5px;
  width: 320px;
  height: 340px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  border: 1.5px solid rgba(255, 255, 255, .3);
  box-shadow: 10px 10px 20px #37a8c7, -10px -10px 20px #64afc3;
  background:
  linear-gradient(0deg,
  rgba(254, 254, 254, .65) 0%,
  rgba(254, 254, 254, .85) 100%);
}


img, .carousel-photo {
  width: 185px;
  margin-bottom: 14px;
}

.photo-card > img {
  width: 100%;
  border-radius: 8px;
}

.photo-card > button {
  margin-top: 8px;
}

.cameraBtn {
  background-color:  #37a8c7;
  border: none;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 14px;
}