*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  padding-top: 200px;
  font-family: "Freeman", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a,
a:visited {
  color: 
  #37a8c7;
  text-decoration: none;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

