.container > input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}


.container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 1000px;
  width: 400px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.button {
  margin-left: 16px;
  border-radius: 8px;
  padding: 8px;
}